.custom_page{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ccc;
}
.custom_page .canvas{
  margin: 1em;
  background-color: #fff;
}


.custom_page .toolbar{
  display: flex;
  gap: 1em;
  padding-bottom: 1em;
}
.custom_page div{
  overflow: hidden;
}
.button-selected{
 background-color: mediumblue;
 color: wheat;
}
ul li{
  list-style: none;
}
.custom_page .fabs{
  display: flex;
  width: 90%;
  padding-bottom: 2rem;
  justify-content: space-between;
}