<style>
  div {
    outline: 1px solid grey;
    width: 100%;
  }
  .news div {
    height: 20px;
  }

  .container {
    display: flex;
  }
  .side {
    display: flex;
    flex-direction: column;
  }
  .title {
    flex-grow: 1;
  }
</style>
<body>
  <div class="container">
    <div class="side">
      <div class="title">title</div>
      <div class="cta">cta</div>
    </div>
    <div class="news">
      <div>news1</div>
      <div>news1</div>
      <div>news1</div>
      <div>news1</div>
      <div>news1</div>
      <div>news1</div>
    </div>
  </div>
</body>
